.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modalOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container{
    position: relative;
    padding: 40px;
    border-radius: 20px;
    background-color: #2d2b38;
    margin: 20px;
    max-width: 720px;
    max-height: 80vh;
    z-index: 10;
    overflow: auto;
    line-height: 1.6rem;
}

.container h1 {
    font-size: 1.5em;
}

.container .desc{
    font-size: 1rem;
}

.container .desc ul {
    margin: 5px 0;
    margin-left: 25px;
    list-style: disc;
}

.container .desc ul li {
    margin-bottom: 3px;
}

.container .desc a{
    color: #4e4eff;
}

.container .desc a:hover{
    text-decoration: underline;
}

.container .imgContainer{
    max-height: 300px;
    overflow: hidden;
    margin: 10px 0;
    line-height: 0;
}

.container img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container .load{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.container .load .loadIcon{
    animation: spin 1s linear infinite;
}

.container video{
    margin: 10px 0;
    border-radius: 10px;
}

.technologies {
    margin: 15px 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    list-style: none;
}

.technologies li{
    margin-right: 10px;
    line-height: 0;
}

.technologies svg{
    font-size: 26px;
}

.container button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
}

.links a{
    display: inline-block;
    margin-right: 10px;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    outline: 1px solid var(--main-color);
    color: #fff;
    transition: 0.3s ease;
}

.container.light .links a{
    color: #fff;
}

.container.light .links a:hover{
    color: var(--main-dark);
}

.links a:hover{
    background-color: inherit;
}

.links a:active{
    box-shadow: 0 0 5px 2px var(--main-color);
}

.container button:hover{
    opacity: 0.6;
}

.container.light {
    background-color: #bdb3c1;
}

.container.light button {
    color: inherit;
}

@media (max-width: 350px){
    .links a:last-child{
        margin-top: 10px;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}