.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.section h1{
    border-bottom: 2px solid #8c2a99;
}

.section .desc{
    margin: 30px 0;
    font-size: 1rem;
}

.desc p{
    margin-bottom: 1em;
}

.desc p:last-child {
    margin-bottom: 0;
}

.desc ul{
    margin-bottom: 1em;
}

.desc ul li{
    margin-left: 25px;
    margin-top: 0.5em;
}

.social{
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}

.social div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 55px;
}

.contact svg{
    display: block;
    font-size: 50px;
    transition: 0.3s ease;
}

.social div .contact svg:hover{
    color: #8c2a99;
}

@media (max-width: 350px){
    .social{
        gap: 15px;
    }
}